Rohm.EMS/Rohm.EMS.VB6/Service References/EmsServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Rohm.Ems" />
  <xs:element name="ReportActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineID" type="xs:int" />
        <xs:element minOccurs="0" name="activityID" type="xs:int" />
        <xs:element minOccurs="0" name="processID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLotEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineID" type="xs:int" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputQty" type="xs:int" />
        <xs:element minOccurs="0" name="goodOutput" type="xs:int" />
        <xs:element minOccurs="0" name="ngOutput" type="xs:int" />
        <xs:element minOccurs="0" name="processID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLotEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLotEnd2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineID" type="xs:int" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputQty" type="xs:int" />
        <xs:element minOccurs="0" name="goodOutput" type="xs:int" />
        <xs:element minOccurs="0" name="ngOutput" type="xs:int" />
        <xs:element minOccurs="0" name="processID" type="xs:int" />
        <xs:element minOccurs="0" name="standardRPM" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLotEnd2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rohm.Ems" minOccurs="0" name="mcInfo" nillable="true" type="q1:EmsMachineRegisterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rohm.Ems" minOccurs="0" name="RegisterMachineResult" nillable="true" type="q2:EmsMachineOutputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rohm.Ems" minOccurs="0" name="mc" nillable="true" type="q3:EmsMachineOutputInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rohm.Ems" minOccurs="0" name="output" nillable="true" type="q4:EmsOutputRecordBLL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportOutputResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityCategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCurrentActivityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineActivityChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineID" type="xs:int" />
        <xs:element minOccurs="0" name="activityID" type="xs:int" />
        <xs:element minOccurs="0" name="processID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineActivityChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineLotEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineID" type="xs:int" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputQty" type="xs:int" />
        <xs:element minOccurs="0" name="goodOutput" type="xs:int" />
        <xs:element minOccurs="0" name="ngOutput" type="xs:int" />
        <xs:element minOccurs="0" name="processID" type="xs:int" />
        <xs:element minOccurs="0" name="standardRPM" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineLotEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>