Rohm.EMS/Backup/Rohm.EMS.VB6/Service References/EmsServiceReference/Rohm.Ems1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rohm.Ems" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rohm.Ems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmsMachineRegisterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentLotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStandardRPM" type="xs:double" />
      <xs:element minOccurs="0" name="CurrentTotalGood" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentTotalNG" type="xs:int" />
      <xs:element minOccurs="0" name="CutTotalGood" type="xs:int" />
      <xs:element minOccurs="0" name="CutTotalNG" type="xs:int" />
      <xs:element minOccurs="0" name="MCNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmsMachineRegisterInfo" nillable="true" type="tns:EmsMachineRegisterInfo" />
  <xs:complexType name="EmsMachineOutputInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentLotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStandardRPM" type="xs:double" />
      <xs:element minOccurs="0" name="CurrentTotalGood" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentTotalNG" type="xs:int" />
      <xs:element minOccurs="0" name="CutTotalGood" type="xs:int" />
      <xs:element minOccurs="0" name="CutTotalNG" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MCNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmsMachineOutputInfo" nillable="true" type="tns:EmsMachineOutputInfo" />
  <xs:complexType name="EmsOutputRecordBLL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MCNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RohmDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandardRPM" type="xs:double" />
      <xs:element minOccurs="0" name="TotalGood" type="xs:int" />
      <xs:element minOccurs="0" name="TotalNG" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmsOutputRecordBLL" nillable="true" type="tns:EmsOutputRecordBLL" />
</xs:schema>